.style-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-2);
}

.style-card-h,
.style-card-v {
    display: flex;
    gap: var(--space-2);

    &>article {
        flex: auto;

        &:nth-child(1) {
            flex-shrink: 0;
        }
    }
}

.style-card-v {
    flex-direction: column;
}

.style-img {
    height: 100%;
    object-fit: cover;
}

.ff-jm {
    font-family: 'JetBrains Mono';
}

.ff-i {
    font-family: 'Inter';
}

.ff-o {
    font-family: 'Outfit';
}

.ff-jk {
    font-family: 'Plus Jakarta Sans';
}

.ff-sm {
    font-family: 'Space Mono';
}