.card-container {
    display: flex;
    align-items: center;
    gap: var(--space-2-5);
}

.card-sm,
.card-md,
.card-lg {
    display: flex;
    justify-content: space-between;
    gap: var(--space-4);
    background-color: var(--bg-card);
    border: 2px solid var(--border);
    padding: var(--space-6);

    &:hover {
        border: 2px solid var(--neutral);
        cursor: pointer;

        &>.card-go-in {
            opacity: 1;
        }
    }

    & .card-img img {
        object-fit: cover;
    }

    /** sm*/

    &:not(.card-lg, .card-md) {
        padding: var(--space-2);

        &>.card-img {
            width: 100px;
        }

        & .card-content {
            & h3 {
                font-size: var(--text-lg);
            }

            & p,
            a {
                font-size: var(--text-sm);
            }
        }
    }

    /** md*/

    &:not(.card-lg, .card-sm) {
        padding: var(--space-2-5);

        & .card-img {
            width: 200px;
        }

        & .card-content {
            & h3 {
                font-size: var(--text-xl);
            }
        }
    }

    /** lg*/

    &:not(.card-md, .card-sm) {
        &>.card-img {
            width: 400px;
        }

        & .card-content {

            & p,
            a {
                font-size: var(--font-lg);
            }
        }
    }
}

.card-content.dumb {
    & h3 {
        margin-bottom: var(--space-4);
    }
}

.card-meta {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-4);
    font-size: var(--text-sm);

    & div {
        display: flex;
        align-items: center;
        gap: .5rem;

        &>.card-author>strong>a {
            color: var(--secondary)
        }
    }

    & .card-comments a {
        font-size: var(--text-xs);
        display: inline-flex;
        gap: var(--space-2);

        & img {
            width: 18px;
        }
    }
}

.card-go-in {
    opacity: 0;
    transition: opacity var(--duration-slow) var(--ease-in-out);
    width: 50px;
}