.card {
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    justify-content: start;
    padding: var(--space-4);

    &>div {
        display: flex;
        gap: var(--space-6);
    }

    &.card-v>div {
        flex-direction: column;
    }

    &:hover {
        border: 1px solid var(--secondary);
    }
}