[data-variant="xs"] {
    font-size: var(--text-xs);
}

[data-variant="sm"] {
    font-size: var(--text-sm);
}

[data-variant="md"] {
    font-size: var(--text-base);
}

[data-variant="lg"] {
    font-size: var(--text-lg);
}

[data-variant="xl"] {
    font-size: var(--text-xl);
}

[data-variant="2xl"] {
    font-size: var(--text-2xl);
}

[data-variant="3xl"] {
    font-size: var(--text-3xl);
}

[data-color="primary"] {
    color: var(--primary);
}

[data-color="secondary"] {
    color: var(--secondary);
}

[data-color="neutral"] {
    color: var(--neutral);
}

[data-color="success"] {
    color: var(--success);
}

[data-color="danger"] {
    color: var(--danger);
}

[data-color="info"] {
    color: var(--info);
}

[data-color="warning"] {
    color: var(--warning);
}

.text-ud {
    text-decoration: var(--neutral) underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}