ul {
    align-items: start;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline: 0;
    border-radius: var(--radius-md);

    &>li {
        padding-block: .1em;
        padding-inline: .5em;
        cursor: default;
    }
}

ol {
    align-items: start;
    display: flex;
    flex-direction: column;
    padding-inline: 0;
    border-radius: var(--radius-md);

    &>li {
        padding-block: .1em;
        padding-inline: .5em;
        cursor: default;
    }
}