/* Space Mono */

@font-face {
    font-family: 'Space Mono';
    src: url('./SpaceMono/SpaceMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('./SpaceMono/SpaceMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}